/* =========== HEADER =========== */

#U9-page-header {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 60px;

  padding: 0px 10px 0px 25px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  background: rgba(255, 255, 255, 0.65);

  backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  z-index: 1000;

}


/* =========== REGISTER / LOGIN BUTTON =========== */

#U9-page-header-register,

#U9-page-header-login {

  border: none;

  padding: 10px 15px;

  cursor: pointer;

}


/* =========== USER BUTTON =========== */

#U9-page-header-user {

  display: none;

  align-items: center;

  justify-content: center;

  gap: 10px;

  padding: 5px 15px 5px 5px;

  border: 1px solid #ccc;

  border-radius: 50px;

  background-color: white;

  cursor: pointer;

}


/* =========== USER ICON =========== */

#U9-page-header-user-icon {

  width: 22px;

  height: 22px;

  padding: 3px;

  fill: none;

  stroke: currentColor;

  stroke-width: 2;

  stroke-linecap: round;

  stroke-linejoin: round;

  border: 1px solid #ccc;

  border-radius: 50%;

  background-color: white;

}

/* =========== USERNAME =========== */

#U9-page-header-username {

  font-size: 15px;

  font-weight: 500;

}

#U9-page-header-actions {

  display: none;

  align-items: center;

  gap: 10px;

}
