 /* =========== CONTAINER =========== */

#U9-page-container {

  position: fixed;

  top: 70px;

  left: 0;

  width: 100%;

  height: 40px;

  display: flex;

  align-items: center;

  gap: 10px;

  padding: 0 10px;

  background-color: rgb(255 255 255 / 0%);

  backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);

  z-index: 900;

}


/* =========== NUMBER BUTTON =========== */

#U9-page-container-1,

#U9-page-container-2,

#U9-page-container-3,

#U9-page-container-4,

#U9-page-container-5 {

  width: 40px;

  min-width: 40px;

  height: 40px;

  padding: 0;

  border: none;

  border-radius: 30%;

  background-color: white;

  cursor: pointer;

}


/* =========== SEARCH CONTAINER =========== */

#U9-page-container-search {

  display: flex;

  align-items: center;

  flex: 1;

  min-width: 0;

  height: 40px;

  padding: 8px;

  background-color: white;

  border-radius: 50px;

  overflow: hidden;

}


/* =========== SEARCH BUTTON =========== */

#U9-page-container-search-button {

  display: flex;

  align-items: center;

  justify-content: center;

  width: 30px;

  min-width: 24px;

  height: 30px;

  padding: 0;

  border: none;

  border-radius: 50%;

  background-color: #abacb2;

  color: white;

  cursor: pointer;

  flex-shrink: 0;

}


/* =========== SEARCH INPUT =========== */

#U9-page-container-search-input {

  flex: 1;

  min-width: 0;

  height: 100%;

  padding: 0 10px;

  border: none;

  outline: none;

  background-color: white;

}


/* =========== SEARCH ICON =========== */

#U9-page-container-search-icon {

  width: 16px;

  height: 16px;

  fill: currentColor;

}

#U9-page-container-menu-icon {

  width: 18px;

  height: 18px;

  fill: currentColor;

}

/* =========== CONTAINER 2 ICON =========== */

#U9-page-container-2 {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-2-icon {

  width: 18px;

  height: 18px;

}

/* =========== CONTAINER 3 ICON =========== */

#U9-page-container-3 {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-3-icon {

  width: 18px;

  height: 18px;

  fill: currentColor;

}

/* =========== CONTAINER 4 ICON =========== */

#U9-page-container-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#U9-page-container-4-icon {
  width: 18px;
  height: 17px;
  fill: currentColor;
}

/* =========== CONTAINER 5 ICON =========== */

#U9-page-container-5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#U9-page-container-5-icon {
  width: 21px;
  height: 21px;
  fill: currentColor;
}
