/* =========== CONTAINER TOOL =========== */

#U9-page-container-tool {

  position: fixed;

  top: 70px;

  left: 0;

  width: 100%;

  height: 40px;

  display: flex;

  align-items: center;

  gap: 10px;

  padding: 0 10px;

  background-color: rgb(255 255 255 / 0%);

  backdrop-filter: blur(10px);

  -webkit-backdrop-filter: blur(10px);

  z-index: 900;

}


/* =========== TOOL BUTTON =========== */

#U9-page-container-tool-menu,
#U9-page-container-tool-message,
#U9-page-container-tool-inbox,
#U9-page-container-tool-gift,
#U9-page-container-tool-shop {

  width: 40px;

  min-width: 40px;

  height: 40px;

  padding: 0;

  border: none;

  border-radius: 30%;

  background-color: white;

  cursor: pointer;

}


/* =========== SEARCH CONTAINER =========== */

#U9-page-container-tool-search {

  display: flex;

  align-items: center;

  flex: 1;

  min-width: 0;

  height: 40px;

  padding: 8px;

  background-color: white;

  border-radius: 50px;

  overflow: hidden;

}


/* =========== SEARCH BUTTON =========== */

#U9-page-container-tool-search-button {

  display: flex;

  align-items: center;

  justify-content: center;

  width: 30px;

  min-width: 24px;

  height: 30px;

  padding: 0;

  border: none;

  border-radius: 50%;

  background-color: #abacb2;

  color: white;

  cursor: pointer;

  flex-shrink: 0;

}


/* =========== SEARCH INPUT =========== */

#U9-page-container-tool-search-input {

  flex: 1;

  min-width: 0;

  height: 100%;

  padding: 0 10px;

  border: none;

  outline: none;

  background-color: white;

}


/* =========== MENU ICON =========== */

#U9-page-container-tool-menu {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-tool-menu svg {

  width: 18px;

  height: 18px;

  fill: currentColor;

}


/* =========== SEARCH ICON =========== */

#U9-page-container-tool-search-button svg {

  width: 16px;

  height: 16px;

  fill: currentColor;

}


/* =========== MESSAGE ICON =========== */

#U9-page-container-tool-message {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-tool-message svg {

  width: 18px;

  height: 18px;

}


/* =========== INBOX ICON =========== */

#U9-page-container-tool-inbox {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-tool-inbox svg {

  width: 18px;

  height: 18px;

  fill: currentColor;

}


/* =========== GIFT ICON =========== */

#U9-page-container-tool-gift {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-tool-gift svg {

  width: 18px;

  height: 17px;

  fill: currentColor;

}


/* =========== SHOP ICON =========== */

#U9-page-container-tool-shop {

  display: flex;

  align-items: center;

  justify-content: center;

}

#U9-page-container-tool-shop svg {

  width: 21px;

  height: 21px;

  fill: currentColor;

}
