/* =================================================
   U9 HISTORY NORMAL MODAL
================================================= */


#U9-history-normal-modal {


position:fixed;

inset:0;


display:none;


justify-content:center;

align-items:center;


background:rgba(
0,
0,
0,
.35
);


z-index:2000;


}



#U9-history-normal-modal-content{


width:800px;


max-width:100%;


height:600px;


max-height:90vh;


background:white;


border-radius:20px;


overflow:hidden;


}



#U9-history-normal-modal-title{


height:60px;


display:flex;


align-items:center;


justify-content:space-between;


padding:0 24px;


font-size:22px;


font-weight:600;


border-bottom:1px solid #eee;


}



#U9-history-normal-modal-close{


width:36px;


height:36px;


border:none;


background:none;


font-size:30px;


cursor:pointer;


color:#6D7693;


}



@media(max-width:600px){


#U9-history-normal-modal{


align-items:flex-end;


}


#U9-history-normal-modal-content{


width:100%;


height:100%;


border-radius:0;


max-height:none;


}


}
