/* =========================
   ACCOUNT SETTING PAGE
========================= */


/* =========== SETTING PAGE =========== */

#Account-U9-account-setting-page {

  overflow-y: auto;

  background-color: rgb(255 255 255);

}


/* =========== LOGOUT BUTTON =========== */

#Account-U9-account-logout {

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  width: calc(100% - 20px);

  height: 42px;

  margin: 10px;

  padding: 0 12px;

  box-sizing: border-box;

  border: none;

  outline: none;

  background: none;

  border-radius: 6px;

  cursor: pointer;

  color: #111111;

}


/* =========== LOGOUT SVG =========== */

#Account-U9-account-logout img {

  display: block;

  width: 20px;

  height: 20px;

}


/* =========== LOGOUT TEXT =========== */

#Account-U9-account-logout span {

  font-size: 14px;

}
