/* =========== LOGOUT CONFIRM =========== */

#U9-account-logout {

  display: none;

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  align-items: center;

  justify-content: center;

  background-color: rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(5px);

  -webkit-backdrop-filter: blur(5px);

  z-index: 2500;

}


/* =========== CONTENT =========== */

#U9-account-logout-content {

  width: 320px;

  padding: 25px;

  background-color: white;

  border-radius: 12px;

  text-align: center;

}


/* =========== TITLE =========== */

#U9-account-logout-content h2 {

  margin: 0 0 25px 0;

}


/* =========== BUTTON AREA =========== */

#U9-account-logout-actions {

  display: flex;

  justify-content: center;

  gap: 10px;

}


/* =========== BUTTON =========== */

#U9-account-logout-actions button {

  min-width: 90px;

  height: 40px;

  border: none;

  border-radius: 6px;

  cursor: pointer;

}


/* =========== YES DISABLED =========== */

#U9-account-logout-yes:disabled {

  cursor: not-allowed;

  opacity: 0.5;

}
